# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\sem 2\POS_System(Spring)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
